@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');

@font-face {
	font-family: WCL;
	src: url(../fonts/WCL-07.ttf);
}

body, html{
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #5a5a5a;
	font-size: 18px;
	height: 100vh;
	min-height: 100vh;
	background : #ffffff;
	overflow: hidden;
}

a {
	color: #02ae93;
}
a:hover,
a:focus{
	text-decoration: none;
	color: #02ae93;
}
/*Preloader*/
#preloader{
	background: #347fc3;
	width: 100%;
	height: 100vh;
	z-index: 99999;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.preload-block{

	overflow-x: hidden;
	overflow-y: hidden;
}

.preload-bar {
	position: relative;
	height: 2px;
	width: 45%;
	margin: 0 auto;
	background: #fff;
	margin-top: 50px;
}

.preload-circle {
	position: absolute;
	top: -30px;
	margin-left: -30px;
	height: 60px;
	width: 60px;
	left: 0;
	background: #fff;
	border-radius: 30%;
	-webkit-animation: move 5s infinite;
}

#preloader p {
	position: absolute;
	top: -35px;
	right: -85px;
	text-transform: uppercase;
	color: #347fc3;
	font-family: Merienda, sans-serif;
	font-weight: bold;
}

@-webkit-keyframes move {
	0% {left: 0;}
	50% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
	75% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
	100% {right: 100%;}
} 

/*End preloader*/


/*Main Layout*/
#block-container {
	flex-wrap: wrap;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
	height: 100vh;
}

.blocks {
	box-sizing: border-box;
}

#side-bar {
	width: 30%;
	text-align: center;
	overflow: hidden;
	position: fixed;
	left: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px auto;
	/*font-family: 'Merienda', cursive;*/
	
}

#main-content {
	width: 70%;
	height: 100vh;
	position: absolute;
	right: 0;
	height: 100vh;
	background: #e5e5e5;
	border-left: 1px solid #DBDBDB;
	overflow: auto;
	/*scroll-behavior: smooth;*/
}


/*End Main Layout*/

/*Social media color*/
.fa-linkedin {
	color: #0077B5;
}

.fa-medium {
	color: #000000;
}

.fa-github {
	color: #000000;
}

.fa-stack-overflow{
	color: #f48024;
}

.ai-google-scholar-square{
	color: #4284F4;
}

.fa-twitter{
	color: #38A1F3;
}

.fa-envelope{
	color: #33a5e0;
}
/*End social media color*/


/*side bar (left)*/
.contact-photo{
	width: 250px;
	padding-bottom: 10px;
}

.name{
	color: #000000;
	font-size: 1.5em;
}

.en_name{
	font-family: 'Merienda', cursive;
}

.zh_name{
	font-family: 'WCL', sans-serif;
}

.title{
	padding: 5px auto;
	color: #000000;
	font-size: 1.1em;
}

/*Side bar animation*/
.text-slider-items {
	display: none;
}
/*End side bar animation*/

.contact-info{
	padding: 15px 0;
}

.contact-info a{
	padding: 0 10px;
}

.contact-info p{
	line-height: 1.4em;
	margin-bottom: 0;
}

.head-social{
	margin: 5px auto;
	padding: 0px;
}

ul.head-social li{
	display: inline-block;
	text-align: center;
	height: 40px;
	width: 40px;
	vertical-align: bottom;
}

.head-social i{
	height: 40px;
	width: 40px;
	font-size: 32px;
	margin: 0 auto;
	transition: all 0.5s;
	line-height: 40px !important;
}
/*End side bar (left)*/

/*Nav-bar*/
.navbar {
	border-bottom: 1px solid #DBDBDB;
	z-index: 999;
}

.navbar-light .navbar-nav .nav-link {
	text-transform: uppercase;
	color: #000000;
	font-size: 0.8em;
	letter-spacing: 1px;
}

.navbar-fixed-top{
	top: 0;
	right: 0;
	left: 0;
	position: fixed;

}


/*End Nav-bar*/


/* Display area */

.introduction{
	overflow: auto;
}

.section{
	padding: 0px 12% 30px 12%;
	max-height: 100%;
	width: 100%;
}

.section:nth-child(1) {
	padding-top: 100px;
}

.section:nth-child(odd){
	background: #FFFFFF;
}


.section-title{
	padding: 30px 0 15px 0;
	font-size: 1.2em;
}

#footer{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 0.7em;
}

/* End Display area */

/* Education, experiience*/

#education .row, #experience .row{
	padding: 10px 0;
}

#education strong, #experience strong{
	color: #000000;
	font-size: 1.1em;
}

#education p, #experience p{
	margin-bottom: 0;
}



#education img, #experience img{
	display: block;
	
	margin: 0 auto;
}

img.horizental{
	height: 70px;
}

img.vertical{
	width: 70px;
}

.location{
	font-style: italic; 
	font-size: 0.8em;
	padding-bottom: 0.3em;
}

.time{
	font-size: 0.8em;
}

.degree, .position{
	color: #333333;
}

#experience .thumbnail{
	max-width: 120px;
	margin: 0 auto;
}

.duty{
	margin-left: -20px;
	font-size: 0.9em;
}

/*End oif education*/

/*publications*/
.card
{
    background: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    max-width: 800px;
    min-height: 150px;
    margin: 15px auto;
    padding: 10px 20px;
    font-size: 1em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#publication .thumbnail, #education .thumbnail{
	max-width: 120px;
	margin: auto;
}

.card .publication{
	text-align: left;
	font-size: 1em;
	margin: 15px 0;
}

.card .box-urls{
	text-align: right;
	font-size: 16px;
	padding-right: 20px;
}

.public_icon{
	width: 110px;
}
/*end of publications*/

@media (pointer: coarse),
(max-width : 992px) { 
	#block-container {
		overflow: auto;
		display: block;
	}

	#side-bar {
		width: 100%;
		height: auto;
		position: relative;
		display: block;
	}

	#main-content {
		width: 100%;
		position: relative;
		overflow: visible;
		box-shadow: none;
	}

	#footer{
		margin-bottom: 50px;
	}

	.section:nth-child(1) {
		padding-top: 0;
	}
}

@media (min-width: 1200px){
	.container {
	    max-width: 100%;
	}
}
