@import "./base.css";

#app {
  min-height: 100vh;
  margin: 0 auto;
  font-weight: normal;
}

p {
  margin-bottom: 0;
}

a,
a:hover,
a:focus{
  text-decoration: none;
  color: #02ae93;
}

.section-title{
  padding: 30px 0 15px 0;
  font-size: 1.2em;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
  }
}
